<script>
    window.watsonAssistantChatOptions = {
        integrationID: "a7011702-9346-4512-af2b-f8946934e3ba", // The ID of this integration.
        region: "us-south", // The region your integration is hosted in.
        serviceInstanceID: "3da80eb4-dd3a-4bc5-9546-827396802032", // The ID of your service instance.
        onLoad: function (instance) { instance.render(); }
    };
    setTimeout(function () {
        const t = document.createElement('script');
        t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
        document.head.appendChild(t);
    });
</script>