<pre style="font-size: 1px; text-align: center; font-family: monospace; color: black; opacity: 0.1;">
    
                                                      +O8OOOOO==                                    
                                                          OOOOOO                                    
            OZIZ?                                         ,OOOOOI                                   
           O7777?Z 7  ,OOO                               :OOOOOO~                                   
           O7O~OIOO+I:O7~7O                             $OOOOOO8?                                   
             Z+++Z+77???8$O                              $OOOOOZ~                                   
         $O$88$+O777777777I8                            OOOOOOOO                                    
        ??7~7$7777777777777I8,                         7OOOOOOO~                                    
        Z77,I7777777777777777?Z                       OOOOOOOOO                                     
         ZOO777777777777777787?O   ,,              8OOOOOOOOOOO                                     
          Z77777777777777778 O7I7OO7ZOOOOO:       8OOOOOOOOOOO8                                     
          OI7777777777777777MZI777Z777OIZ7$Z    ?ZIOOOOOOOOOOO                                      
          OI77777D +777777777I77777O7OOO7$OO   OOOOOOOOOOOOOOO                                      
     8?O  O?77777ZMNI77+ ,,O,777777O777777IO ,OOOOOOOOOOOOOOOO                                      
 8OZZ$7IO $?77777IO$$I,   8,  77777O77777IZ  OOOOOOOOOOOOOOOOO                                      
OZ77$O777OOI7777777777 I      77777OI778:   OOOOOOOOOOOOOOOOO$                                      
77O77OO7777?8777777777,?$O8=  7777Z77IO     OOOOOOOOOOOOOOOOO:                                      
Z777Z$7777777?Z77777777 Z~7: ~7777OIIZ    ,8OOOOOOOOOOOOOOOOOI                                      
OZ7777777777777$77777777:   77777$7O   OOOOOOOOOOOOOOOOOOOOOO,                                      
  :+7Z7777777777IO77777777777777778   =OOOOOOOOOOOOOOOOOOOOOO:                                      
      +OI777777777777777777777777O    OOOOOOOOOOOOOOOOOOOOOOOO                                      
         OO7777777777$777777I7IOI    IOOOOOOOOOOOOOOOOOOOOOOOOOOI                                   
          ZOI777777777777    IO      OOOOOOOOOOOOOOOOOOOOOOOOOOOOZ,                                 
            ,Z8I7777777 ,: ,  =O     ZOOOOOOOOOOOOOOOOOOOOOOOOOOOOO                                 
               ~$7777I +,  +?= 8    ~OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO                                
              ,Z77777  ? ,?    8   +OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO:                               
             =O77777,  ??~ ,,  O  ,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOI                              
            O?I77777, ,?~?+,,?:8  ~OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO:                             
            ,7OO777Z::~8Z,    O,   $88OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO                              
             :7777777777~O  ~Z,      ,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO                              
              IZ777777777~OZ??8           +OOOOOOOOOOOOOOOOOOOOOOOOOO8                              
                OZ7777777IO???O               ZOOOOOOOOOOOOOOOOOOOOO8                               
                 O7777777IO???O                OOOOOOOOOOOOOOOOOOOOO                                
                 O777777$Z=+=OO                 OOOOOOOOOOOOOOOOOOOO                                
                 O77777777777?Z                     ~8OOOOOOOOOOOOOOZ?O=                            
                 OI7777777777ZO                       OOOOOOOOOOOOO,O8 OZO                          
                O?7777777$777O,                        OO8I$=OOOZO,     8O8                         
               O??O77777OOOOO                                =O~        8OOOOO,,                    
               O+??Z$777OO:                                            =OOOOOOOO+~O?                
               O???????Z                                                  , OOOOOOOOOO8,            
               O??????$,                                   OO8ZO8O 78      ,OOO:  OOOOOOOO          
                O???77$                                       +OO=8O7      OOO:    OOOOOOO$         
                 ,+$:                                               OOOOZO:        =OOOOOOO OZ,     
                                                                     O,            IOOOOOOOOO7O     
                                                                                   +IOOOOOOOOZZOO   
                                                                                   I :OOOOOOOOO7O,  
                                                                                      ,  OOOOOOO:O, 
                                                                                          ,,    +8Z 
                                                                                                    
                 OOOO    OOO8 8OOOOOOOOOO, 7OOOOOOOOOOO     8OOOOOOO: OOOO                          
                 OOOO    OOO8 8OOOOOOOOOOO 7OOOOOOOOOOO     OOOOOOOO: OOOO                          
                 OOOO    8OO8 8OOO8OOOOOOO 7OOOOOOOOOOO    ZOOO 7OOO: OOOO                          
                 OOOO    8OO8 8OOO    OOOO  8OOO8  OOOO    8OOO 7OOO: OOOO                          
                 OOOO    8OO8 8OOO    OOOO   OOOO~ OOOO    OOO? 7OOO: OOOO                          
                 OOOO    8OO8 8OOO    OOOO   ?OOOO,       $OOO  7OOO: OOOO                          
                 OOOO    8OO8 8OOOZOOOOOOO    OOOOO       OOOO  7OOO: OOOO                          
                 OOOO    8OO8 8OOOOOOOOOOO     OOOOI      OOOZ  7OOO: OOOO                          
                 OOOO    8OO8 8OOOOOOOOOO,     ,OOOO     ?OOO,  7OOO: OOOO                          
                 OOOO    8OO8 8OOO ,OOO,        ZOOOO    OOOO   7OOO: OOOO                          
                 OOOO    8OO8 8OOO  8OOO   $OOO, 8OOOO   OOOO   7OOO: OOOO   ,OOO$                  
                 OOOO    OOO8 8OOO   OOO$  7OOO,  OOOO: ,OOOOOOOOOOO: OOOO   ,OOO$                  
                 OOOO~~~=OOO8 OOOO   ZOOO  7OOO+~~?OOOO ,OOOOOOOOOOO: OOOO~~~=OOO$                  
                 OOOOOOOOOOO8 8OOO    OOOO 7OOOOOOOOOOO ,OOOO7777OOO: OOOOOOOOOOO$                  
                 ZOOOOOOOOOO: 8OOO    =OOO=7OOOOOOOOOOO ,OOOZ   ,OOO: OOOOOOOOOOO$                  
                                                                                                    
                                                                                                    
                                                                                                    
                                                                                     GlassGiant.com

</pre>