{{ define "body" }}
<script> 
jQuery(document).ready(function($) {
    var animation = false;
    var chatbotMode = false;
    var comandosDisponiveis = [
        "tudo",
        "apresentacao",
        "social",
        "trabalho",
        "educacao",
        "habilidades",
        "softskills",
        "idiomas",
        {{ if .Site.Params.projetos }} "projetos", {{ end }}
        {{ if .Site.Params.certificacoes }} "certificacoes", {{ end }}
        {{ if .Site.Params.startxLocation }} "startx", {{ end }}
        {{ if .Site.Params.misc }}{{ .Site.Params.misc.commandName | default "misc"}},{{end}}
        {{ if not .Site.Params.hideSource }} "source", {{ end }}
        "chatbot",
        "ajuda",
        {{ if .Site.Params.exitLocation }} "sair", {{ end }}
        ]

    sessionStorage.clear("context")

    $("body").terminal(function(command, term) {

        /* Functions to be called by commands */
        function apresentacao () {
            term.echo ("");
            {{ with .Site.Params.apresentacao }} 
                term.echo ("[[b;grey;]Name:]\t\t\t{{ .name }}");
                term.echo ("[[b;grey;]Profession:]\t\t{{ .profession }}");
                term.echo ("[[b;grey;]Location:]\t\t{{ .location }}");
                {{ if .email }}
                    term.echo ("[[b;grey;]Email:]\t\t\t{{ .email }}");
                {{ end }}
                {{ if .homelink }}
                    term.echo ("[[b;grey;]Homepage:]\t\t{{ .homelink }}");
                {{ end }}
                {{ if .description }}
                    term.echo ("")
                    term.echo ("{{ .description }}")
                {{ end }}
            {{ end }}
            term.echo ("");
        }

        function social () {
            term.echo("");
            {{ if .Site.Params.hideSocialName }}
                {{ with .Site.Params.social }}
                    {{ range . }} 
                        term.echo("{{ .url }}");
                    {{ end }}
                {{ end }}
            {{ else }}
                {{ with .Site.Params.social }}
                    {{ range . }}
                        term.echo("{{ .name }}:" + "{{ .url }}");
                    {{ end }}
                {{ end }}
            {{ end }}
            term.echo("")
        }

        function certificacoes () {
            term.echo("");
            {{ with .Site.Params.certificacoes }}
                {{ range .}}
                    term.echo("[[b;{{ .color | default "grey" }};]{{ .certName }}]");
                term.echo("{{ .date }}");
                    {{ if .company }}
                        term.echo("{{ .company }}");
                    {{ end }}
                    {{ if .description }}
                        term.echo("{{ .description }}");
                    {{ end }}
                    term.echo("-------------------- ");
                    term.echo("");
                {{ end }}
            {{ end }}
        }

        function trabalho () {
            term.echo("");
            {{ with .Site.Params.trabalho }}
                {{ range .}}
                    term.echo("[[b;{{ .color | default "grey" }};]{{ .jobTitle }}]");
                    term.echo("{{ .company }}");
                    term.echo("{{ .location}}");
                    term.echo("{{ .date }}");
                    term.echo ("");
                    term.echo("{{ .description }}");
                    term.echo("-------------------- ");
                    term.echo("");
                {{ end }}
            {{ end }}
        }

        function educacao () {
            term.echo("");
            {{ with .Site.Params.educacao }}
                {{ range . }}
                    term.echo("[[b;{{ .color | default "grey" }};]{{ .courseName }}]");
                    term.echo("{{ .date }}");
                    {{ if .description }}
                        term.echo("{{ .description }}");
                    {{ end }}
                    term.echo("-------------------- ");
                    term.echo("");
                {{ end }}
            {{ end }}
        }

        function habilidades () {
            term.echo(" ");
            {{ with .Site.Params.Skills }}
                {{ range . }}
                    var bar_length = Math.round({{ .percentage }} / 10);
                    var bar_filled = Array(bar_length + 1).join("&#9611;");
                    var bar_blank= Array(11 - bar_length).join("&#9617;");
                    term.echo("[[b;{{ .color | default "grey" }};]{{ .name }}:]\n" +
                            bar_filled + bar_blank + 
                            {{ .percentage }} +"%");
                    {{ if .description }}
                        term.echo("{{ .description }}");
                    {{ end }}
                    term.echo ("")
                {{ end }}
            {{ end }}
        }

        function softskills () {
            term.echo("");
            {{ with .Site.Params.softSkills }}
                {{ range . }}
                    var bar_length = Math.round({{ .percentage }} / 10);
                    var bar_filled = Array(bar_length + 1).join("&#9611;");
                    var bar_blank= Array(11 - bar_length).join("&#9617;");
                    term.echo("[[b;{{ .color | default "grey" }};]{{ .name }}:]\n" +
                        bar_filled + bar_blank +
                        {{ .percentage }} +"%");
                    {{ if .description }}
                        term.echo("{{ .description }}");
                    {{ end }}
                    term.echo ("")
                {{ end }}
            {{ end }}
        }

        function idiomas () {
            term.echo("");
            {{ with .Site.Params.idiomas }}
                {{ range . }}
                    var bar_length = Math.round({{ .percentage }} / 10);
                    var bar_filled = Array(bar_length + 1).join("&#9611;");
                    var bar_blank= Array(11 - bar_length).join("&#9617;");
                    term.echo("[[b;{{ .color | default "grey" }};]{{ .name }}:]\n" +
                            "" + bar_filled + bar_blank + 
                            " " + {{ .percentage }} +"%");
                    {{ if .description }}
                        term.echo("{{ .description }}");
                    {{ end }}
                    term.echo("")
                {{ end }}
            {{ end }}
        }

        function projetos () {
            term.echo("");
            {{ with .Site.Params.projetos }}
                {{ range .}}
                    term.echo("[[b;{{ .color | default "grey" }};]{{ .title }}]");
                    term.echo("{{ .date }}")
                    term.echo("{{ .link }}")
                    {{ if .description }}
                        term.echo("{{ .description }}");
                    {{ end }}
                    term.echo("-----------------------");
                    term.echo("");
            {{ end }}
            {{ end }}
        }

        function misc () {
            term.echo ("")
            term.echo("[[b;{{ .Site.Params.misc.titleColor }};]{{ .Site.Params.misc.title }}]" + "\n")
            term.echo ("[[;{{.Site.Params.misc.contentColor }};]{{ .Site.Params.misc.content }}]")
            term.echo ("")
        }

        function chatbot (text) {

            if(!text) {
                term.echo("[[b;white;]Você está agora conversando com o chatbot. Para encerrar, digite 'sair']");
            }
              $.ajax({
                "async": true,
                "crossDomain": true,
                "url": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/3da80eb4-dd3a-4bc5-9546-827396802032/v1/workspaces/7e97c98d-381a-4c64-bc50-6f1e0cce5428/message?version=2021-06-14",
                "method": "POST",
                "headers": {
                  "Content-Type": "application/json",
                  "Authorization": "Basic YXBpa2V5Ok9mS2JEZG9uRWg1VHVaU1RfaHA3RVlHU1d0RkwySHRLWDR6d0hrOF9oZHRC"
                },
                "processData": false,
                "data": JSON.stringify({
                    input: { text: text || "" },
                    context: JSON.parse(sessionStorage.getItem("context"))
                })
              })
              .done(function (response) {
                term.echo();
                term.echo("[[;greenyellow;]constantino@guilhermeland][[;grey;]:~$]");

                response
                    .output
                    .generic
                    .filter(e => e.response_type === "text")
                    .forEach(e => term.echo(e.text))
                
                response
                    .output
                    .generic
                    .filter(e => e.response_type === "option")
                    .forEach(e => {
                        term.echo(e.title)
                        e.options.forEach(o => {
                            term.echo("[[;azure;]" + o.value.input.text)
                        })
                    })

                response
                    .output
                    .generic
                    .filter(e => e.response_type === "image")
                    .forEach(e => {
                        term.echo(e.title)
                        term.echo(e.description)
                    })

                term.echo();

                sessionStorage.setItem("context", JSON.stringify(response.context));
              })
              .fail(function() {
                term.echo("Não foi possível se comunicar com o chatbot cortretamente. Tente novamente mais tarde.");
                sessionStorage.clear("context")
                chatbotMode = false;
              });
        }

        function ajuda () {
            term.echo("\n[[b;white;]Comandos disponíveis:]\n" +
                    "\n" + comandosDisponiveis.join(" ")+ "\n") 
        }

        function source() {
            term.echo("        _______            \n"+
                      "       |       |           \n"+
                      "       |       |           \n"+
                      "       |_______|_______    \n"+
                      "               |       |   \n"+
                      "               |       |   \n"+
                      " ______________|_______|   \n"+
                      "|      |       |       |   \n"+
                      "|      |       |       |   \n"+
                      "|______|_______|_______|   \n"+
                      "[[;red;]May the source be with you]\n"+
                      "[[;grey;]https://github.com/4s3ti/terminalcv\n");
        }

        //Funciton used by StartX to draw the progressBar
        function progress(percent, width) {
            var size = Math.round(width*percent/100);
            var left = "", taken = "", i;
            for (i=size; i--;) {
                taken += "=";
            }
            if (taken.length > 0) {
                taken = taken.replace(/=$/, ">");
            }
            for (i=width-size; i--;) {
                left += " ";
            }
            return "[" + taken + left + "] " + percent + "%";
        }

        function loading () {
            var i = 0;
            var size = 30;
            prompt = term.get_prompt();
            string = progress(0, size);
            term.set_prompt(progress);
            animation = true;
            (function loop() {
                string = progress(i++, size);
                term.set_prompt(string);
                if (i < 100) {
                    timer = setTimeout(loop, 10);
                } else {
                    term.echo(progress(i, size) + " [[b;green;]OK]").set_prompt(prompt);
                    animation = false
                }
            })();
        }

        /* Functions End */
        commands = command.split(/[ ]+/);

        if (chatbotMode) {
            if (commands != "sair") {
                chatbot(commands.join(" "));
            } else {
                sessionStorage.clear("context");
                chatbotMode = false;
            }
        } else {
            switch(commands[0]) {
                case "apresentacao":
                    apresentacao();
                    break;
                case "social":
                    social();
                    break;
                case "certificacoes":
                    certificacoes();
                    break;
                case "trabalho":
                    trabalho();
                    break;
                case "educacao":
                    educacao();
                    break;
                case "habilidades":
                    habilidades();
                    break;
                case "softskills":
                    softskills();
                    break;
                case "idiomas":
                    idiomas();
                    break;
                case "projetos":
                    projetos();
                    break;
                case "{{ .Site.Params.misc.commandName | default "misc"}}":
                    misc();
                    break;
                case "source":
                    source();
                    break;
                case "startx":
                    term.echo("loading ...")
                    loading();
                    setTimeout(function() {window.location = "{{ .Site.Params.startxLocation }}"}, 2000);
                    break;
                case "chatbot":
                    chatbotMode = true;
                    chatbot();
                    break;
                case "ajuda":
                    ajuda();
                    break;
                case "sair":
                    term.echo("terminating ... ")
                    loading();
                    setTimeout(function() {window.location = "{{ .Site.Params.exitLocation }}"}, 2000);
                    break;
                case "tudo":
                    apresentacao();
                    social();
                    certificacoes();
                    trabalho();
                    educacao();
                    habilidades();
                    softskills();
                    idiomas();
                    projetos();
                    {{ if .Site.Params.misc }} misc(); {{ end }}
                    {{ if not .Site.Params.hideSource }} source(); {{ end }}
                    break;
                default:
                    term.echo("\nunknown command: " + command + "\n" +
                              "please type 'ajuda' for a list of available commands\n");
            }
        }
    },

    {
        prompt: "[[;{{ .Site.Params.promptColor | default "grey" }};]{{ .Site.Params.prompt }}][[;{{ .Site.Params.promptSimbolsColor | default "grey" }};]{{.Site.Params.promptSimbols | default ":~$"}}]" + " ",
        greetings: "[[b;{{ .Site.Params.greetingColor | default "white" }};]{{ .Site.Params.greeting }}]",
        keydown: function(e, term) {
            if (animation) {
                if (e.which == 68 && e.ctrlKey) { // CTRL+D
                    clearTimeout(timer);
                    animation = false;
                    term.echo(string + " [[b;red;]FAIL]")
                    .set_prompt(prompt);
                }
                return false;
            }
        },
        autocompleteMenu: true,
        completion: comandosDisponiveis
    });
});
</script>
{{ end }}
